@import "home";
@import "police";
@import "nasa";
@import "wiki";

html{
	height: 100%;

	body{
		height: inherit;

		#root{
			height: inherit;

			.container{
				background-color: black;
				opacity: 0.8;
				filter: alpha(opacity=60);
				height: 100%; 
			}
		}
	}
}

a{
	cursor: pointer;
	color: white; 
}

h1{
	color: white;
} 

h2{
	color: white;
}

h3{
	color: white;
}

h4{
	color: white;
}

p{
	color: white;
}

label{
	color: white;
}

nav {
	background-color: #5f5f5f;
	height: 100px;

	.upper-nav{
		height: 50%;
		h2{
			color:white;
		}
	}
	.lower-nav{
		height: 50% !important;
	}
	.container{
		background-color: #5f5f5f !important;
	}
	a{
		color: white !important;
		padding: 9px;
		text-decoration: none !important;
		letter-spacing: 3px;

		&.is-active{
			border-bottom: 10px solid black;
		}
	}
}

.height100{
	height: 100%;
}

.inline-flex{
	display: inline-flex;
}

.white-color{
	color: white;
}







